        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Hello <b>{{request.user.username}}</b></span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">

                            <i class="fa fa-home"><span>Home</span></i>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'transaction' %}" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Transactions</span></a>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Accounts</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                {% for f in fields %}
                                    <li class="w-100">
                                        <a href="/select/?bank={{f.bank_name}}" class="nav-link px-0"> <span class="d-none d-sm-inline" style="color: white;">{{f.bank_name}}</span></a>
                                    </li>
                                {% endfor %}

                            </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Settings</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="{% url 'profile' %}" class="nav-link px-0"> <span class="d-none d-sm-inline" style="color: white;">Admin Panel</span></a>
                            </li>
<!--                            <li>-->
<!--                                <a href="{% url 'change' %}" class="nav-link px-0"> <span class="d-none d-sm-inline" style="color: white;">Change Password</span></a>-->
<!--                            </li>-->
                            <li>
                                <a href="{% url 'register' %}" class="nav-link px-0"> <span class="d-none d-sm-inline" style="color: white;">Create User</span></a>
                            </li>
<!--                            <li>-->
<!--                                <a href="{% url 'register' %}" class="nav-link px-0"> <span class="d-none d-sm-inline" style="color: white;">Delete User</span></a>-->
<!--                            </li>-->

                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Logout</span> </a>
                    </li>
                </ul>
                <hr>
<!--                <div class="dropdown pb-4">-->
<!--                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">-->
<!--                        <span class="d-none d-sm-inline mx-1">loser</span>-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">-->
<!--                        <li><a class="dropdown-item" href="#">New project...</a></li>-->
<!--                        <li><a class="dropdown-item" href="#">Settings</a></li>-->
<!--                        <li><a class="dropdown-item" href="#">Profile</a></li>-->
<!--                        <li>-->
<!--                            <hr class="dropdown-divider">-->
<!--                        </li>-->
<!--                        <li><a class="dropdown-item" href="#">Sign out</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
            </div>
        </div>